body{
    padding: 0px;
    margin: 0px;
}
/*nav*/
.tw{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0px;
    right:80px
}
.go{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0px;
    right:40px;
}
.fa{
    width: 30px;
    height: 30px;
    position: fixed;
    top: 0px;
    right: 0px;
}/*end of nav*/
/*sec1*/
.sec1{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.div1 b{
    font-size:50px;
    color: green;
   
}
 
.p1{
    color:white;
    background-color: green;
    padding: 15px 20px;
    width: 100px;
    height: 20px;
    border-radius: 5%;
}
#p2{
    color:black;
    background-color: rgba(102, 100, 100, 0.377);
    padding: 15px 20px;
    border-radius: 5%;
    width: 100px;
    height: 20px;
    position: relative;
    left: 200px;
    bottom: 70px;
}
.div2 img{
    width: 300px;
    height: 300px;
    margin-left:100px ;
}/*end of sec1*/
/*sec2*/
.sec2{
    background-color: rgba(102, 100, 100, 0.377);
    width: 100%;
    height: 500px;
    margin-left: 20px;
    margin-top: 100px;
    padding-top: 20px;
}
.green{
    background-color: green;
   width: 180px;
   height: 83vh;
   position: relative;
   left: 40%;
}
 .pho img{
    width: 500px;
    height: 300px;
    position: relative;
    left: 33%;
    bottom: 400px;
}
.circle{
    background-color: rgb(82, 146, 146);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    left: 30%;
    bottom: 750px;
}
h1{
   color: green;
   font-size: 60px;
   text-align: center; 
}
p{
    text-align: center;
}
 /*sec3*/
 .sec3{
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom:200px;
 }
 .girl{
     background-color: rgb(102, 100, 100,0.377);
     width: 300px;
     height: 300px;
     text-align: center;
     padding: 20px;
 }
 .girl img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.girl h3{
    color: green;
}
.man{
    background-color: rgb(102, 100, 100,0.377);
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 20px;
}
.man img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
.man h3{
   color: green;
}
.oldman{
    background-color: rgb(102, 100, 100,0.377);
    width: 300px;
    height: 300px;
    text-align: center;
    padding: 20px;
}
.oldman img{
   width: 100px;
   height: 100px;
   border-radius: 50%;
}
.oldman h3{
   color: green;
}/*end of sec3*/
/*sec4*/
.sec4 {
    display: flex;
    justify-content: center;
}
.rowg{
    background-color: green;
    width:480px;
    height: 100px;
    margin-left:100px ;
}
.photo img{
    width: 300px;
    height: 300px;
    margin-right: 50px;
    position:relative ;
    right:400px;
    bottom: 20px;
}
#words {
    font-size:30px;
    color: green;
}
.gray{
    background-color: rgb(102, 100, 100,0.377);
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px;
    position:relative ;
    right:350px;
    bottom: 20px;
}/*end of sec4*/
/*sec5*/
.sec5{
    background-color: rgb(102, 100, 100,0.377);
    width: 100%;
    height: 85vh;
    margin-top: 100px;
    text-align: center;
    
}
h5{
    color: green;
    font-size: 60px;
}
.form{
    background-color: #fff;
    width: 50%;
    height: 40vh;
    padding: 20px;
    margin-left: 300px;
}
input{
    width:90% ;
    height: 5vh;
    display: block;
    background-color: gainsboro;
    margin-top: 10px;
    
}
input[type="submit"]{
    color:white;
    background-color: green;
    padding: 15px 20px;
    width: 30%;
    height: 8vh;
    border-radius: 5%;
  margin-left: 250px;
}
.text{
    padding-bottom: 50px;
}/*end of sec5*/
